# Project exclude paths
/venv/

.idea
.idea/*
*.xml
*.iml

/data/corpora/aonewsela.txt
/witokit
/witokit/*

/BabyBERTa-1/
/BabyBERTa-2/
/BabyBERTa-3/

.ipynb_checkpoints/
babyberta/babyberta/
__pycache__
0/
1/
2/
3/
4/
5/
model.safetensors
