torch
numpy
pandas
transformers
tokenizers
PyYAML
PyPrind
datasets
https://github.com/UIUCLearningLanguageLab/AOCHILDES/archive/v2.1.0.tar.gz
https://github.com/UIUCLearningLanguageLab/AONewsela/archive/v1.1.0.tar.gz
https://github.com/phueb/Ludwig/archive/v4.0.2.tar.gz